<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
{{> live-sync}}


<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!--BUNDLE_JS_1-->
<script type="text/javascript" src="{{root}}vendor/angular.js"></script>
<script src="{{root}}vendor/angular-resource.js"></script>
<!--/BUNDLE_JS_1-->

<!--BUNDLE_JS_2-->
<script src="{{root}}vendor/angular-toastr.js"></script>
<script src="{{root}}vendor/angular-toastr.tpls.js"></script>
<script src="{{root}}vendor/moment.js"></script>
<script src="{{root}}vendor/moment_locale_fr.js"></script>
<!--/BUNDLE_JS_2-->

<!--BUNDLE_JS_3-->
<script src="{{root}}vendor/angular-moment.js"></script>
<script src="{{root}}vendor/ng-lodash.js"></script>
<script src="{{root}}vendor/async.js"></script>
<script src="{{root}}vendor/localforage.js"></script>
<script src="{{root}}vendor/angular-localForage.js"></script>
<script src="{{root}}vendor/angular-locale_fr-fr.js"></script>
<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--/BUNDLE_JS_3-->

<script type="text/javascript" src="{{root}}app.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCqh03BCNeafvQCHd3i82h-3TyeREmT3eU",
    authDomain: "getabiker-1276e.firebaseapp.com",
    databaseURL: "https://getabiker-1276e.firebaseio.com",
    storageBucket: "getabiker.appspot.com",
  };
  firebase.initializeApp(config);
</script>
<script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>


<script>
    angular.element(document).ready(function() {
       angular.bootstrap(document, ['shopmycourse']);
       console.log('LOADED')
    });
</script>

