/*PEFECT STICKY FOOTER 
http://jsfiddle.net/Antifaith/hqyjt/
*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

* html #wrapper {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 250px;
    /* ATTENTION! padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */
    background: mintcream;
}

#main-container {
    background: mintcream;
    min-height: 300px;
}

#footer {
    position: absolute;
    width: 100%;
    clear: both;
    bottom: 0;
    padding: 0;
    margin: 0;
}
