<div class="row home">
    <div class="col-sm-12">

        <img src="/img/logo_circle_malibu.jpg" class="start__logo img-responsive">
        <div class="buttons-block">
            
            <a  ng-click="shopDelivery()" 
                ng-if="(currentAvailability.length <= 0)"
                class="btn btn-white btn-block btn-lg ">Livrer</a>
            
            <a  ng-if="deliveryDate.length <= 0 || !currentDelivery.shop_name" 
                ng-click="scheduleOrder()"
                class="btn btn-white btn-block btn-lg ">Se faire livrer</a>
            
        </div>

    </div>
</div>
