<!-- HBSIGNORE -->
<div class="row">
  <div class="title-bar">
    <h2 class="title-bar__title">Livrer</h2>
  </div>
</div>


<div class="row section" title="Sélectionner du créneau">
  <div class="col-sm-12">

    <div class="row">
      <hr>
    </div>



    <div class="row">
      <div class="col-md-12">
        <p class="text-center section__centered-title">Votre calendrier disponible</p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 relative">
        <date-picker ng-model="date" on-select="onSelect" container="#datePopup"></date-picker>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 relative visible-md-block visible-lg-block">
        <div class="row">
          <hr>
          <label>Sélectionnez une heure</label>
        </div>
        <div class="row">
          <ul class="hours">
            <li ng-repeat="(timeKey, time) in schedule.times" class="col-schedule schedule" ng-class="{'selected': isSelected(schedule.date, time)}" ng-click="selectTime(schedule.date, time)">{{time}}</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 relative" id="datePopup">

      </div>

      <div class="col-sm-6 relative visible-xs-block visible-sm-block">
        <div class="row">
          <hr>
          <label>Sélectionnez une heure</label>
        </div>
        <div class="row">
          <ul class="hours">
            <li ng-repeat="(timeKey, time) in schedule.times" class="col-schedule schedule" ng-class="{'selected': isSelected(schedule.date, time)}" ng-click="selectTime(schedule.date, time)">{{time}}</li>
          </ul>
        </div>
      </div>

    </div>


  </div>
</div>


<!--
<ion-view id="deliveries-schedule" title="Sélectionner du créneau">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="validate()">
        <i class="icon ion-checkmark"></i>
    </button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
          
        </ion-list>
        <button class="button button-positive button-block" ng-click="validate()">Valider</button>
    </ion-content>
</ion-view>/
-->
