.btn-facebook {
    background: #3b5998;
    color: #fff;
    border-color: transparent;
}

.btn-facebook:hover {
    color: #fff;
    border-color: transparent;
}

.btn-google {
    background: #d34836;
    color: #fff;
    border-color: transparent;
}

.btn-google:hover {
    background: #d34836;
    color: #fff;
    border-color: transparent;
}

.btn-white {
    background-color: white;
    color: #5D9FFE;
    border: 0px;
}

.btn-white:hover {}

.btn-white.btn-lg {
  
}


.btn-block+.btn-block {
    margin-top: 20px;
}

.white{
    color:white;
}