.link:hover{
    cursor:pointer;
}

.padding-none{
    padding:0px!important;
}

.hidden{
    display: none;
}


.relative{
    position: relative;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align:left!important;
}

.padding-small{
    padding: 5px;
}

.link-white{
    color:white;
}
.link-white:hover{
    color:black;
    text-decoration: none;
}