/*PEFECT STICKY FOOTER 
http://jsfiddle.net/Antifaith/hqyjt/
*/

body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 108px;
    /* ATTENTION! padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */
    background: mintcream;
}

#main-container {
    /*background: mintcream;*/
    min-height: 530px;
    padding-left:0px;
    padding-right:0px;
        padding-bottom: 50px;
}

#footer {
    position: absolute;
    width: 100%;
    clear: both;
    bottom: 0;
    padding: 0;
    margin: 0;
}
