<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> Our website uses cookies in order to offer you a better experience. You can get more information about our cookies policy
    here.
</div>
<footer class="footer">
    <div class="footer__top">
        <div class="footer__top_left"><a href="negocios" translate="footerBusinesses" class="ng-scope">Entreprises</a><a href="https://ShopmyCourses.recruitee.com" translate="footer.workWithUs" class="ng-scope">Recrutement</a><a href="https://ShopmyCoursesblog.wordpress.com/"> Blog</a></div>
        <div
            class="footer__top_middle">
            <a href="https://www.facebook.com/shopmycourses" title="Follow ShopmyCourses on Facebook" target="_blank"><img src="/img/facebook.png"></a>
            
    </div>
    <div class="footer__top_right"><a href="coursiers">Coursiers</a><a href="faq"> FAQ</a>
        <div class="openContactForm"><a translate="contact" class="ng-scope">Contact</a></div>
    </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom_top">
        </div>
        <div class="footer__bottom_bottom">Copyright, 2015. | <a href="fr/condiciones?lang=fr" translate="termsOfService" class="ng-scope">Conditions d'utilisation
</a> | <a href="fr/privacidad?lang=fr" translate="policyPrivacy" class="ng-scope">Politique de confidentialité
</a></div>
    </div>
</footer>