<script type="text/javascript">
    (function() {
        /*global $*/

        function reloadStylesheets() {
            var queryString = '?reload=' + new Date().getTime();
            $('link[rel="stylesheet"]').each(function() {
                if(this.href.indexOf('app.css')!=-1) {
                    console.debug('DEBUG: reloading file',this.href);
                    this.href = this.href.replace(/\?.*|$/, queryString);
                }
                
            });
        }

        /*global firebase*/
        /*global localStorage*/
        var isDevEnv = function() {
            return window.location.origin.indexOf('c9users') !== -1;
        }
        if (!isDevEnv()) return console.log('live-sync', 'not-a-dev-enviroment');
        console.info('live-sync-enabled signalName => {{signalName}}');
        var config = {
            apiKey: "AIzaSyCqh03BCNeafvQCHd3i82h-3TyeREmT3eU",
            authDomain: "getabiker-1276e.firebaseapp.com",
            databaseURL: "https://getabiker-1276e.firebaseio.com",
            //storageBucket: "getabiker.appspot.com",
            //messagingSenderId: "626641878895"
        };
        var app = firebase.initializeApp(config, 'live-reload');
        var database = app.database();

        var refPath = '{{signalName}}/signals' ///reload
        var ref = database.ref(refPath);
        var counter = localStorage['livesync'] && localStorage['livesync'].toString() || 0;


        //console.info('live-sync-enabled signalName','{{signalName}}','counter',counter,'path',refPath);


        ref.on('value', function(snap) {
            if (snap.val() == null || snap.val() == undefined) return; //nothing happen yet

            var reload = snap.val().reload;
            var reload_css = snap.val().reload_css || false;

            if (reload_css) {
                console.log('live-sync-reloading (CSS)');
                reloadStylesheets();
                return ref.update({
                    reload_css: false,
                    reload: null
                });
            }

            //console.log('new',snap.val());
            //console.log('local',counter);

            if (reload && reload.toString() != counter) {
                localStorage['livesync'] = reload.toString();
                console.log('live-sync-reloading');
                window.location.reload();
            }
            else {
                console.log('live-sync-waiting');
            }
        });
    })();
</script>
