<ion-view id="new-order" title="Selection du créneau">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="validate()">
        <i class="icon ion-checkmark"></i>
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <div ng-repeat="schedule in schedules">
        <div class="item item-divider">
          {{ schedule.date | amDateFormat:'dddd Do MMMM' }}
          <hr>
        </div>
        <ion-item>
          <div ng-repeat="(timeKey, time) in schedule.times" class="col-schedule schedule" ng-class="{'selected': isSelected(schedule.date, time)}" ng-click="selectTime(schedule.date, time)">{{time}}</div>
        </ion-item>
      </div>
    </ion-list>
    <button class="button button-positive button-block" ng-click="validate()">Valider</button>
  </ion-content>
</ion-view>
