<ion-view id="edit-profile" title="Édition du profil">
    <ion-content overflow-scroll="true" padding="true" class="has-header default-form">
      <form class="list" name="edit">
          <ion-list>
              <!-- Avatar -->
              <div class="item avatar-item" id="profile-header">
                  <img class="profil-pic icon-smc-profile" data-ng-src="{{avatarBackground}}"></img>
                  <div class="edit"><a ng-click="changeAvatar()">Modifier mon avatar</a></div>
              </div>
              <!-- Nom -->
              <ion-item class="item item-input item-stacked-label">
                  <span class="input-label">Nom</span>
                  <input type="text" name="lastname" ng-model="user.lastname" placeholder="Saisissez votre nom" ng-pattern="validation.name.pattern" required="required">
              </ion-item>
              <div class="error-message" ng-show="edit.lastname.$error.pattern">
                <span><i class="icon ion-close-circled"></i> {{validation.name.message}}</span>
              </div>
              <!-- Prénom -->
              <ion-item class="item item-input item-stacked-label">
                  <span class="input-label">Prénom</span>
                  <input type="text" name="firstname" ng-model="user.firstname" placeholder="Saisissez votre prénom" ng-pattern="validation.name.pattern" required="required">
              </ion-item>
              <div class="error-message" ng-show="edit.firstname.$error.pattern">
                <span><i class="icon ion-close-circled"></i> {{validation.name.message}}</span>
              </div>
              <!-- Email -->
              <ion-item class="item item-input item-stacked-label">
                  <span class="input-label">Email</span>
                  <input type="email" name="email" ng-model="user.email" placeholder="Saisissez votre email" ng-pattern="validation.email.pattern" required="required">
              </ion-item>
              <div class="error-message" ng-show="edit.email.$error.pattern">
                <span><i class="icon ion-close-circled"></i> {{validation.email.message}}</span>
              </div>
              <!-- Mot de passe -->
              <ion-item class="item item-input item-stacked-label">
                  <span class="input-label">Mot de passe</span>
                  <input type="password" name="password" ng-model="user.password" placeholder="Saisissez votre mot de passe" ng-pattern="validation.password.pattern">
              </ion-item>
              <div class="error-message" ng-show="edit.password.$error.pattern">
                <span><i class="icon ion-close-circled"></i> {{validation.password.message}}</span>
              </div>
              <!-- N° de téléphone -->
              <ion-item class="item item-input item-stacked-label">
                  <span class="input-label">N° de mobile</span>
                  <input type="tel" name="phone" ng-model="user.phone" placeholder="Saisissez votre téléphone" ng-pattern="validation.phone.pattern" required="required">
              </ion-item>
              <div class="error-message" ng-show="edit.phone.$error.pattern">
                <span><i class="icon ion-close-circled"></i> {{validation.phone.message}}</span>
              </div>
          </ion-list>
      </form>
      <button ng-click="endEdit()" class="button button-positive button-block" ng-disabled="edit.$invalid">Sauvegarder</a>
    </ion-content>
</ion-view>
