<header class="static__header">
    <nav class="static__header__nav navbar navbar-default">
        <div class="container-fluid">
            <div class="static__header__nav__header navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsableNavbar">
                    <span class="icon-bar header__icon-bar"></span>
                    <span class="icon-bar header__icon-bar"></span>
                    <span class="icon-bar header__icon-bar"></span> 
                </button>

                <a class="static__header__nav__header__brand navbar-brand" href="#">Shopmycourses</a>
            </div>

            <div class="collapse navbar-collapse header__navbar-collapse" id="collapsableNavbar">
                <ul class="static__header__nav__ul nav navbar-nav">
                    <li class="active static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="#">Home</a>
                    </li>
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="#">How It works</a>
                    </li>
                </ul>
                <ul class="static__header__nav__ul static__header__nav__ul-right nav navbar-nav navbar-right">
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="/profile/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li class="static__header__nav__ul__li">
                        <a class="static__header__nav__ul__li__a" href="/profile/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

