.profile__edit-account>a {
    font-size: 30px;
    color: white;
    line-height: 66px;
}

.profile__edit-account>a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.profile input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}