<ion-view id="new-deliveries" title="Sélection du magasin">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list class="shop-list">
            <div class="item item-divider item-divider-default search">
              <label class="item item-input">
                <i class="icon-smc-wen placeholder-icon"></i>
                <input type="text" ng-model="query" placeholder="Rechercher une adresse" ng-change="search(query)">
              </label>
            </div>
            <div class="item item-divider">
              Magasins les plus proches
            </div>
            <ion-item class="item-icon-right" ng-repeat="shop in shops">
                <div ng-click="setShop(shop)">
                  <div class="title">{{shop.name | capitalize:true}}</div>
                  <div class="distance"><i class="icon-smc-rule"></i> {{shop.distance / 1000 | number: 2}} km</div>
                  <div class="address"><i class="icon-smc-marker"></i> {{shop.address | capitalize:true}}</div>
                  <i class="icon ion-chevron-right"></i>
                </div>
            </ion-item>

            <ion-item class="item" ng-show="(shops.length == 0)">
              <p>
                Aucun magasin n'a été trouvé à proximité.
              </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
